# prevent directory listings
Options All -Indexes
IndexIgnore */*

# follow symbolic links
Options FollowSymlinks
RewriteEngine on
# RewriteRule ^admin(/.+)?$ web/$1 [L,PT]
RewriteRule ^(.+)?$ web/$1
